<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <ion-label color="primary">Name</ion-label>
    <ion-input [(ngModel)]="item.name" placeholder="iPad Pro"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">Quantity</ion-label>
    <ion-input [(ngModel)]="item.quantity" type="number" placeholder="1"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">Price</ion-label>
    <ion-input [(ngModel)]="item.price" type="number" placeholder="700"></ion-input>
  </ion-item>

  <ion-button expand="block" fill="clear" (click)="editItem()">Save Changes</ion-button>
  <ion-button expand="block" (click)="removeItem()" color="danger">Delete</ion-button>
</ion-content>
