<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Shopping List
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-shopping-item']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Items</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of shoppingList$ | async" detail lines="none" (click)="editItem(item)">
      {{item.name}}
    </ion-item>
  </ion-list>
</ion-content>
